.uc{
    display: flex;
    align-items: start;
    height: 100%;
    gap: 70px;
}
.uc_img{
    border: 2px solid rgb(226, 226, 226);
    min-width: 500px;
    & img{
        width: 100%;
    }
}
.uc_body{
    display: flex;
    flex-direction: column;
    gap: 35px;
    font-size: 20px;
    & span{
        font-size: 18px;
        color: rgb(136, 136, 136);
        font-weight: 400;
    }
    & p{
        color: rgb(56, 56, 56);
        font-weight: bold;
    }
    & p:first-child{
        font-size: 40px;
    }
    & p:nth-child(4){
        font-size: 28px;
    }
}